<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <div class="container mt-4">
      <a class="btn btn-light btn-back mb-3" href="/">Back</a>
      <div class="search-pills">
        <span class="category-pill"
          ><strong>Model Functionalities:</strong> <%=
          queries.model_functionalities %></span
        >
        <span class="category-pill"
          ><strong>App Categories:</strong> <%= queries.app_categories %></span
        >
        <span class="category-pill"
          ><strong>Interaction Types:</strong> <%=
          queries.interaction_type%></span
        >
        <span class="category-pill"
          ><strong>Interaction Styles:</strong> <%= queries.interaction_style
          %></span
        >
      </div>

      <br />
      <br />

      <div class="row">
        <div class="image-grid">
          <% data.forEach((data) => { %>
          <div class="card search-result" width="18rem">
            <img
              class="card-img-top gallery-image"
              src="https://raw.githubusercontent.com/jasonxsiu/GalleryImages/main/Gif/<%= data.image_name %>"
              alt="Card image cap"
            />
            <div class="card-body">
              <p class="card-text">
                <strong>Forms of communication: </strong><br />
                <%= data.representation %> <br />
                <strong>Package name: </strong> <%= data.package_name %>
              </p>
            </div>
          </div>
          <% }); %>
        </div>
      </div>

      <!-- Trigger/Open The Modal -->

      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Some text in the Modal..</p>
        </div>
      </div>
    </div>
    <script>
      // Get the modal
      var modal = document.getElementById("myModal");

      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks on the button, open the modal
      btn.onclick = function () {
        modal.style.display = "block";
      };

      // When the user clicks on <span> (x), close the modal
      span.onclick = function () {
        modal.style.display = "none";
      };

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };
    </script>
  </body>
</html>
